* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before { 
  background-repeat: no-repeat;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul dl {
  font-size: 20px;
}

/* header */
header {
  max-width: 960px;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .header__list {
  list-style: none;
  margin-left: 30px;
}

.header__wrapper {
  display: flex;
} 

.icon {
  width:20px;
}

/* main */
a {
  text-decoration: none;
}

a,a:hover,a:visited{
  color: inherit;
}

.main__about li {
  margin-bottom: 15px;
}

main li {
  list-style: none;
}

.main__wrapper {
  display: flex;
}

.main__img {
  max-width: 1920px;
  height: 420px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 80px;
}

.main__wrapper {
max-width: 1160px;
}

.main__wrapper__content {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 1.2rem;
  padding: 0 4%;
}

.main__wrapper img {
width: 260px;
max-width: 100%;
}


.main__picture__content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.main__picture__content li {
  margin-bottom: 23px;
}


.main__result {
  display: flex;
  flex-wrap: wrap;
}

.main__result__border {
  border-top: 1px solid lightgray;
}

.section__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 65px;
}

.main__result dt {
  border-bottom: 1px solid lightgray;
  width: 15%;
  padding: 15px 0;
}

.main__result dd {
  border-bottom: 1px solid lightgray;
  width: 80%;
  padding: 15px 0;
}

.main__contact__wrapper dt {
  width: 15%;
  margin-bottom: 10px;
  color: gray;
  }
.main__contact__wrapper dd {
  width: 85%;
  margin-bottom: 10px;
  }  

.main__contact__wrapper input {
  padding: 10px;
  width: 100%;
  border: 2px lightgreen solid ;

}

.main__contact__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main__contact__wrapper dd textarea {
width: 100%;
height: 140px;
border: 2px lightgreen solid
}

.sending {
  text-align: center;
}

.sending input {
  width: 200px;
  padding:15px 0;
  background-color: lightgreen;
  border: 2px rgb(3, 81, 3) solid;
  border-radius: 10px;
}

/* footer */
footer {
  text-align:center;
  font-size: 0.5rem;
  padding: 15px 20px;
  background-color: lightgreen;
}

/* MyWorkPortfolio.php */

.complete__img {
  max-width: 1920px;
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.body__text {
  text-align: center;
  font-size: 30px;
}

.body_message__margin {
  margin-top: 100px;
}

.body__link__send {
  margin: 100px auto 0 auto;
  color: #222222;
  text-decoration: none;
  background-color: lightgreen;
  width:100px;

}
