* {
  padding: 0;
  margin: 0;
}

a,a:hover,a:visited{
  color: inherit;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
}

.header__profile {
  padding: 10px 0;
  width: 120px;
  line-height: 1px;
}

.header__space {
  padding: 10px 0 10px 0;
}

.header__list {
  display: flex;
  list-style: none;
}
.header__itemList {
  margin-left: 30px;
}

.header__link {
  text-decoration-line: none; 
}

/* main */

.main__img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

.main__imgStyle {
  width: 32%;
  text-align: center;
}

.main__itemCenter {
  text-align: center;
}


.main__item {
  display:flex;
  justify-content: center;
  margin: 0 auto 100px auto;
  max-width: 960px;
  padding: 0 4%;
}

.main__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px auto;
  max-width: 960px;
  padding: 0 4%;
}

.guy {
  border-radius: 50%;
    width:  100px;
    height: 100px;
    margin-right: 30px;
}

img {
  max-width: 100%;
}

.main__listStyle {
  list-style: none;
  box-sizing: inherit;
}

.main__textMargin {
  margin: 10px 0px;
  font-size: 1rem;
  text-align: left;
}

.mainn__marginBottom {
  margin-bottom:60px;
}
.main {
  margin-bottom: 100px;
}

.main__underline {
  display: inline-block;
  text-align: center;
  border-bottom:solid 1px;
  font-size: 2rem;
  margin:0 0 60px 0;
}

.main__contents {
  font-size: 0.9rem;
}

.main__imgTitle {
  margin: 10px 0;
  font-size : 1rem;
}

/* footer */
.footer {
  text-align:  center;
  font-size: 0.5rem;
  padding: 10px 0;
}