html {
  margin: 0 auto;
} 

* {
  margin: 0;
  padding: 0;
}

@page {
  size: A4 portrait;
  margin: 0mm;
}
.page {
	width: 210mm;
	height: 297mm;
	box-sizing: border-box;
  margin:auto;
	padding: 19mm;
  page-break-after: always;
}

.page:last-child{
	page-break-after: auto;
}

.font__size {
  font-size: 10px;
}

.space {
  margin: 10px 0 10px 0;
}

/*header*/
h1 {
  text-align: center;
  font-size: 20px;
}

.header__textContent {
  margin-bottom: 20px;
}

.header__textContent__title {
  text-align:center;
  margin-bottom: 20px
}
.header__name {
  font-size: 10px;
  text-align: end;
}

.name {
  margin-right:10px;
}

/* body */
.main {
  display: flex;
justify-content: center;
align-items: center;
}

h2 {
  font-size: 12px;
}

.main li {
  margin: 15px 0 15px 0;
}

.main__job__title {
  margin-right: 10px;
} 

.main__text__content {
  margin: 0 auto;
}

.main__company {
  margin-left: 10px;
}

.list__style {
  list-style: none;
} 

.main__list__title {
  text-align:center;
  border:double;
  border-radius: 10px;
  list-style: none;
  padding: 5px 0;
  margin: 15px 0 15px 0;
}

.main__wrapper {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

.list__style1 li {
  list-style: none;
  width:165px;
  font-size: 10px;
  border-bottom:solid 1px lightgray;
}

.list__style2 li {
  list-style: none;
  border-bottom:solid 1px lightgray;
  font-size: 10px;
}