.main__text--white {
  background-color:white;
}

.main__text--orange {
  background-color:orange;
}

.main__text--yellow {
  background-color:yellow;
}

.main_1 {
  background-color:green;
}
.main_2 {
  background-color:gray;
}