.topButtonsWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.middleButtonsWrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.bottomButtonsWrapper {
  display: flex;
  justify-content: center;
}

.button {
  padding: 20px;
}
